<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카메라 웹페이지</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/camera.css') }}"> 
    <link rel="stylesheet" href="/frontend/static/css/camera.css">
    <link rel="stylesheet" href="/frontend/static/css/project.css">
</head>
<body>
    <div class="login-container">
        <div class="login-welcome">
            {% if 'username' in session %}
                <p>안녕하세요, {{ session['username'] }}님!</p>
            {% endif %}
        </div>
        <div class="login-message">
            {% if 'username' not in session %}
                <p>로그인이 필요합니다.</p>
            {% endif %}
        </div>
    </div>
    <header class="header">
        <h1>PLAN PLANT</h1>
        <button class="header-button" id="menu-button">menu</button>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/">main</a>
            <a href="login">Login</a>
            <a href="section1">식물 촬영</a>
            <a href="section2">식물 관리</a>
            {% if 'username' in session %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </header>

    <main>
        <video id="video" autoplay></video>
        <button id="capture-btn">사진 찍기</button>
        <canvas id="canvas"></canvas>
        <footer>
            <p>&copy; 2024 캡스톤 디자인. 정보통신공학부</p>
        </footer>
    </main>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="/frontend/static/js/camera.js"></script>
    <script src="/frontend/static/js/project.js"></script>
    <script src="/frontend/static/js/common.js"></script> 
</body>
</html>
