<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카메라 웹페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/camera.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-welcome">
            {% if 'username' in session %}
                <p>안녕하세요, {{ session['username'] }}님!</p>
            {% endif %}
        </div>
        <div class="login-message">
            {% if 'username' not in session %}
                <p>로그인이 필요합니다.</p>
            {% endif %}
        </div>
    </div>
    <header class="cd-header">
        <div class="header-name"><h1>PLAN PLANT</h1></div>
        <div class="header-wrapper">
          <div class="nav-but-wrap">
            <div class="menu-icon hover-target">
              <span class="menu-icon__line menu-icon__line-left"></span>
              <span class="menu-icon__line"></span>
              <span class="menu-icon__line menu-icon__line-right"></span>
            </div>          
          </div>          
        </div>        
    </header>
    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
            <li class="nav__list-item active-nav"><a href="/" class="hover-target">Home</a></li>
            <li class="nav__list-item"><a href="login" class="hover-target">Log in</a></li>
            <li class="nav__list-item"><a href="section1" class="hover-target">Pic Plant</a></li>
            <li class="nav__list-item"><a href="section2" class="hover-target">Plant Diary</a></li>
            <li class="nav__list-item"><a href="section3" class="hover-target">Pic Soil</a></li>
            <li class="nav__list-item">
            {% if 'username' in session %}
            <a href="{{ url_for('logout') }}" class="hover-target">Logout</a>
            {% endif %}
            </li>
            </ul>
        </div>
    </div>    
    <div class='cursor' id="cursor"></div>
    <div class='cursor2' id="cursor2"></div>
    <div class='cursor3' id="cursor3"></div>
    <div class="main">
        {% if request.args.get('uploadSuccess') == 'true' %}
            <p>이미지 업로드 성공!</p>
        {% endif %}
        <footer>
            <p>&copy; 2024 캡스톤 디자인. 정보통신공학부</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
    <script src="{{ url_for('static', filename='js/soilcamera.js') }}"></script>
</html>
