<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카메라 웹페이지</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/camera.css') }}">
</head>
<body>
    <header class="header">
        <h1>PLAN PLANT</h1>
        <button class="header-button" id="menu-button">menu</button>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/">main</a>
            <a href="login">Login</a>
            <a href="section1">식물 촬영</a>
            <a href="section2">식물 관리</a>
            {% if 'username' in session %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% if request.args.get('uploadSuccess') == 'true' %}
            <p>이미지 업로드 성공!</p>
        {% endif %}
        <footer>
            <p>&copy; 2024 캡스톤 디자인. 정보통신공학부</p>
        </footer>
    </main>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
    <script src="{{ url_for('static', filename='js/soilcamera.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>
</html>
